@font-face {
    font-family: 'Interstate';
    src: url('Interstate-Bold.eot');
    src: url('Interstate-Bold.eot?#iefix') format('embedded-opentype'),
        url('Interstate-Bold.woff2') format('woff2'),
        url('Interstate-Bold.woff') format('woff'),
        url('Interstate-Bold.ttf') format('truetype'),
        url('Interstate-Bold.svg#Interstate-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url('Interstate-Regular.eot');
    src: url('Interstate-Regular.eot?#iefix') format('embedded-opentype'),
        url('Interstate-Regular.woff2') format('woff2'),
        url('Interstate-Regular.woff') format('woff'),
        url('Interstate-Regular.ttf') format('truetype'),
        url('Interstate-Regular.svg#Interstate-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url('Interstate-Light.eot');
    src: url('Interstate-Light.eot?#iefix') format('embedded-opentype'),
        url('Interstate-Light.woff2') format('woff2'),
        url('Interstate-Light.woff') format('woff'),
        url('Interstate-Light.ttf') format('truetype'),
        url('Interstate-Light.svg#Interstate-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

